{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Specs</h3>
                </div>
                <div class="panel-body">
                    {% for spec in specs %}
                        <a href="{% url 'dashboard:edit_spec' spec.id %}">{{ spec.hash_tag }}</a>
                    {% endfor %}
                    <a href="{% url 'dashboard:create_spec' %}"
                       class="btn btn-danger btn-fab btn-raised mdi-content-add"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}